<div class="form-group row justify-content-end">
  <label for="change" class="col-sm-2 col-form-label"><%=t('Change')%>:</label>
  <div class="col-2">
    <span id="change" readonly class="form-control"></span>
  </div>
</div>
<div class="form-group row justify-content-end">
  <label for="result" class="col-sm-2 col-form-label"><%=t('Total')%>:</label>
  <div class="col-2">
    <span id="result" readonly class="form-control"></span>
  </div>
</div
